<p id="notice"><%= notice %></p>


<%= image_tag @portfolio_item.main_image %>

<p>
  
  <%= @portfolio_item.title %>
</p>

<p>

  <%= @portfolio_item.subtitle %>
</p>

<p>
  <%= @portfolio_item.body %>
</p>


<%= link_to 'Edit', edit_blog_path(@portfolio_item) %> |
<%= link_to 'Back', portfolios_path %>
